$breakpoint-phone: 600px;
$breakpoint-tablet: 800px;
$breakpoint-laptop: 1000px;
$breakpoint-desktop: 1300px;

@mixin flex($direction, $align-x, $align-y) {
  display: flex;
  flex-direction: $direction;
  justify-content: $align-x;
  align-items: $align-y;
}

@mixin container() {
  width: 100%;
  height: 100%;
}

@mixin breakpoint($breakpoint) {
  @if $breakpoint == 'phone' {
    @media only screen and (max-width: $breakpoint-phone) { @content; }
  } @else if $breakpoint == 'tablet' {
    @media only screen and (max-width: $breakpoint-tablet) { @content; }
  } @else if $breakpoint == 'laptop' {
    @media only screen and (max-width: $breakpoint-laptop) { @content; }
  } @else if $breakpoint == 'desktop' {
    @media only screen and (min-width: $breakpoint-laptop) { @content; }
  }

}
