<template>
  <div class="docs-introduction">

  </div>
</template>

<script>
export default {
  name: 'DocsIntroduction',
  props: {
    msg: String
  },
  data: function () {
    return {

    }
  },
  methods: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.hello {
  
}
</style>
