<template>
  <div class="docs-sidebar">
    <h3>Chapters</h3>
    <div class="items">
      <router-link to="/docs" class="item"><div class="number">1</div>Introduction</router-link>
      <div class="item inactive"><div class="number">2</div>Atoms</div>
      <div class="item inactive"><div class="number">3</div>Molecules</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DocsSidebar',
  props: {
    msg: String
  },
  data: function () {
    return {

    }
  },
  methods: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../assets/scss/mixins.scss";

@media only screen and (max-width: 1200px) {
  .docs-sidebar {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .docs-sidebar {
    display: block;
  }
}

.docs-sidebar {
  position: fixed;
  right: 0;
  top: 54px;
  bottom: 0;
  width: 260px;
  text-align: left;
  transition: transform 0.1s linear;
  background: #c4dbfb;

  h3 {
    margin: 15px 15px;
    font-size: 23px;
    font-weight: 600;
  }

  .items {
    @include flex(column, flex-start, flex-start);

    width: calc(100% - 24px);
    margin: 4px 12px;

    .item {
      @include flex(row, flex-start, center);
      height: 30px;
      width: 100%;
      border-radius: 4px;
      margin-bottom: 8px;
      background: #e4effe;
      padding-left: 9px;
      font-size: 15px;
      color: #010e1b;
      cursor: pointer;

      .number {
        margin-right: 16px;
        margin-left: 6px;
        color: #105583;
      }

      &.inactive {
        color: #777;
      }
    }
  }
}
</style>
