<template>
  <div class="docs">
    <Sidebar />
    <div class="flex">
      <div class="content">
        <div class="breadcrumbs">
        </div>
        <h1>The Lyn Language Documentation</h1>
        <p>
          This is an introductory guide to the Lyn programming language, and will help you get started
          writing your first programs. After completing this guide, you will have a thorough understanding
          of the basic concepts, tools and syntax used to create applications with Lyn. In this chapter,
          we will cover the installation of the SDK and write a small <i>Hello World</i> program.
        </p>
        <h2><div class="number">1.0</div>Installing the SDK</h2>
        <p>
          As of now, there are no release builds available, so the only way to install is to compile from source.
          You're going to need a copy of Rust on your system to build Lyn.
          Let's clone the <a href="https://gitlab.com/lyn-language/lyn">GitLab repository</a>:
        </p>

        <CodeEditor :lines="['git clone https://gitlab.com/lyn-language/lyn']" />

          <p>
            Then, we change into the compiler directory and build the compiler. The following commands will run the compiler binary without any arguments, launching a REPL for interactive programming.
          </p>

          <CodeEditor :lines="[
            'cd lyn/',
            'cargo run --release',
          ]" />

        <h2></h2>
        <h2><div class="number">1.1</div>Hello, World!</h2>
        <p>
          This is a very small program which prints some output to the console. The enclosing braces <code>(</code> and <code>)</code> indicate a <a href="">List</a>, which is the fundamental data type of the language. Every structure in the language, assignments, function definitions and conditional statements, are represented using lists. Lists are collections of <a href="">Atom</a>s, which are basic data types that represent identifiers, blocks (more on this <a href="">later</a>) as well as literal types, such as <a href="">String</a>, <a href="">Int</a> or <a href="">Float</a>. 
        </p>
        <CodeEditor :lines="lines" />
        <p>
          The first item in the list is an identifier, which is just a name that points to some value. In this case, it's the <code><span class="">println</span></code> method, which takes our <code><span class="string">'Hello,&nbsp;World!'</span></code> argument and prints it to standard output.
        </p>
        <h2>Other Things</h2>
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from '../components/docs/Sidebar'
import CodeEditor from '../components/Code'

export default {
  name: 'Docs',
  components: {
    CodeEditor,
    Sidebar,
  },
  data: function () {
    return {
      lines: [
        '// Print a simple greeting to the console.',
        '(println \'Hello, World!\')',
      ]
    }
  },
  mounted () {
    this.$store.commit('SET_NAV_CURRENT', 'learn')
  },
  methods: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../assets/scss/mixins.scss";

@media only screen and (max-width: 830px) {
  .docs {
    .flex {
      .content {
        @include flex(column, flex-start, center);
        h1 {
          font-size: 32px;
          text-align: center;
        }

        p {
          width: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 830px) {
  .docs {
    .flex {
      .content {
        @include flex(column, flex-start, center);
        width: calc(100vw);
        h1 {
          font-size: 32px;
          text-align: center;


        }

        p {
          max-width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 830px) {
  .docs {
    .flex {
      .content {
        @include flex(column, flex-start, flex-start);
        width: calc(100vw);
        h1 {
          font-size: 42px;
          text-align: center;
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .docs {
    .flex {
      .content {
        @include flex(column, flex-start, flex-start);
        width: calc(100vw - 260px);
        h1 {
          font-size: 42px;
          text-align: left;
        }

        p {
          max-width: 100%;
        }
      }
    }
  }
}

.docs {
  position: fixed;
  left: 0;
  top: 54px;
  right: 0;
  bottom: 0;

  .flex {
    @include flex(row, flex-start, center);
    @include container();
    overflow-y: scroll;
    padding-bottom: 100px;

    .content {
      
      
      height: 100%;
      padding: 0px 36px;

      code {
        background: #FFF;
        border-radius: 4px;
        padding: 5px 5px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
        margin: 0 4px;
        font-family: 'Inconsolata';
        font-weight: 700;
        font-size: 16px;


        .blue {
          color: #0075e4ff;
        }
        .pink {
          color: #ff08fbff;
        }
        
        .orange {
          color: #f9a500ff;
        }   
             
        .green {
          color: #00b488ff;
        }
      }

      h1 {
        line-height: 50px;
        padding-top: 10px;

        img {
            height: 70px;
            margin-right: 20px;
          }
      }
      

      h1, h2 {
        color: #122329;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        

        .number {
          margin-right: 24px;
          color: #22434eff;
          color: #366a7cff;
          font-size: 21px;
        }
      }

      h2 {
        color: #1f6161ff;
        color: #0c1621;
        text-align: left;

        .bigger {
          font-size: 46px !important;
        }
      }

      .program {
        //@include flex(column, flex-start, flex-start);
        width: 100%;
        height: auto;
        text-align: left;
        background: #FFF;
        font-family: 'Inconsolata';
        font-weight: 700;
        //font-weight: 600;
        line-height: 20px;
        color: #111;
        padding: 18px 20px;
        border-radius: 6px;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);
        font-size: 16px;

        span {
          margin: 1px;
          width: calc(100% - 20px);
          font-size: 16px;
        }

        span.shell::before {
          content: "$ ";
          color: #0075e4ff;
        }

        .blue {
          color: #0075e4ff;
          color: #007cbcff;
        }
        .pink {
          color: #ff08fbff;
        }
        
        .orange {
          color: #f9a500ff;
        }   
             
        .green {
          color: #00a57dff;
          color: #009a41;
        }

        margin: 20px 0px;

        .comment {
          color: #666;
        }
      }

      p {
        color: lighten(#122329, 10%);
        color: #213549;
        text-align: left;
        //max-width: 85%;
        margin: 20px 0px;
        font-size: 17px;
      }
    }
  }
}
</style>
