<template>
  <div class="home">
  	<div class="starboard"></div>
  	<div class="flex">
  		<div class="description">
  			<h2>Lyn is an <i>optionally typed, simple and safe</i> programming language.</h2>
  			<p>
  				Build console applications with the standard library I/O, or develop for the browser using a WebAssembly build of the <a href="https://gitlab.com/lyn-language/lyn">core library</a>.
  			</p>
  			<p>
  				<i>Notice: This project is not yet ready for use</i>
  			</p>
  			<div class="row">
  				<router-link to="/docs" class="button">Documentation</router-link>
  				<div class="button primary"><span class="lnr lnr-rocket"></span> Launch a REPL</div>
  			</div>
  		</div>
	  	<div class="image">
	  		<img src="../assets/lyn-browser.svg" />
	  	</div>
  	</div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  props: {
    msg: String
  },
  data: function () {
    return {

    }
  },
  methods: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '../assets/scss/mixins.scss';

@media only screen and (min-width: 1200px) {
	.home {
		.flex {
			@include flex(row, justify-between, center);

			.description {
				height: 70vh;
				padding-left: 80px;

				h2 {
					font-size: 32px;
				}
			}

			.image {
	  		@include flex(row, flex-end, center);
	  		height: 100%;
	  		width: 50%;

	  		img {
	  			height: 70vh;
	  			margin-right: -300px;
	  			box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
	  		}
	  	}
		}


	}
}

@media only screen and (max-width: 1200px) {
	.home {
		.flex {
			@include flex(column, flex-start, center);

			.description {
				h2 {
					font-size: 34px;
				}

				p {
					max-width: 90%;
				}

			}

	  	.image {
	  		@include flex(row, center, center);
	  		display: none;
	  		width: 100%;
	  		height: 50%;

	  		img {
	  			height: 50vw;
	  			box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
	  		}
	  	}
		}
	}
}


@media only screen and (max-width: 750px) {
	.home {
		.flex {
			@include flex(column, flex-start, center);

			.description {
				h2 {
					font-size: 26px;
					width: 60vw;
					margin: 0 0;
				}

				p {
					max-width: 90%;
				}

			}

	  	.image {
	  		@include flex(row, center, center);
	  		display: none;


	  		img {
	  			height: 50vw;
	  			box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
	  		}
	  	}
		}
	}
}


.home {
  position: fixed;
  left: 0;
  top: 54px;
  right: 0;
  bottom: 0;

  background-color: #c4dbfb;

  .starboard {
  	position: fixed;
  	left: 0;
  	top: 54px;
  	bottom: 0;
  	width: 55vw;
  	background-color: #deebfeff;
  	background-image: url('../assets/bg1.svg');
  	background-size: contain;
  	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.05);
  	z-index: 50;
  }

  .flex {
  	@include container();
  	z-index: 500;

  	.image img {
  		z-index: 2000;
  	}

  	.description {
  		@include flex(column, center, flex-start);
  		height: 100%;
  		width: 50%;
  		z-index: 500;
  		
  		text-align: left;

  		h2 {
  			
  			color: #122329;
  			margin: 10px 0px;
  		}

  		p {
  			font-size: 20px;
  			color: #213549;
  			
  			a {
  				color: #009cec;
  				border-bottom: 1px dashed #009cec;

  				&:hover {
  					color: #009cec;
  				}
  				&:active {
  					color: #009cec;
  				}
  				&:visited {
  					color: #009cec;
  				}
  			}
  		}

  		.row {
  			@include flex(row, flex-start, flex-start);
  			margin-top: 15px;
  		}

  		.button {
  			@include flex(row, center, center);
  			border-radius: 4px;
  			color: #122329;
  			background: #FFF;
  			height: 38px;
  			font-size: 16px;
  			padding: 0 18px;
  			cursor: pointer;
  			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  			transition: box-shadow 0.1s linear;
  			margin-right: 16px;

  			span {
  				margin-right: 8px;
  			}

  			&:hover {
  				box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  			}

  			&.primary {
  				background: #ff88b9ff;
  				color: #33001a;
  			}
  		}
  	}
  }
}
</style>
