<template>
  <div class="learn">
    <Toolbar />
  </div>
</template>

<script>
import Toolbar from '../components/Toolbar'

export default {
  name: 'Learn',
  components: {
    Toolbar,
  },
  props: {
    msg: String
  },
  data: function () {
    return {

    }
  },
  methods: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.learn {
  position: fixed;

  left: 0px;
  top: 54px;
  right: 0px;
  bottom: 0px;
  background: #AAA;
}
</style>
