<template>
  <div class="make">
    <h1>Make</h1>
  </div>
</template>

<script>
export default {
  name: 'Make',
  props: {
    msg: String
  },
  data: function () {
    return {

    }
  },
  mounted () {
    this.$store.commit('SET_NAV_CURRENT', 'make')
  },
  methods: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.make {
  position: fixed;
  left: 0;
  top: 54px;
  right: 0;
  bottom: 0;
}
</style>
