<template>
  <div class="not-found">
    <h1>Still in progress!</h1>
    <h2>More content will come.</h2>
  </div>
</template>

<script>
export default {
  name: 'NotFound',
  props: {
    msg: String
  },
  data: function () {
    return {

    }
  },
  methods: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.not-found {
  position: fixed;
  left: 0;
  top: 54px;
  right: 0;
  bottom: 0;

  h1 {
    font-size: 70px;
    color: #00396fff;
  }
}
</style>
