<template>
  <div class="highlighter">

  </div>
</template>

<script>
String.prototype.insertTextAtIndices = function(text) {
    return this.replace(/./g, function(character, index) {
        return text[index] ? text[index] + character : character;
    });
};

export default {
  name: 'Code',
  props: {
    lines: Array
  },
  data: function () {
    return {
      colors: {
        'variable': '#111',
        'type':     '#f56a00ff', 
        'string':   '#00a57dff', 
        'comment':  '#666', 
      },
      wasm: null,
    }
  },
  methods: {},
  mounted () {
    import('../assets/wasm/').then(wasm => {
      this.wasm = wasm
      this.wasm.init()

      this.lines.map(line => {
        let commentRegex = new RegExp(/(\/\/(.)*)/g)

        if (commentRegex.test(line)) {

        }
        let positions = JSON.parse(this.wasm.get_atom_positions(line))
        // Indicates the offset caused by additional characters in the source
        let offset = 0;

        for (let position of positions) {
          // Split the source, insert the opening tag and add the rest of the string back on
          let openingTag = '<span class="' + position.kind + '">'
          line = line.substr(0, position.from + offset) + openingTag + line.substr(position.from + offset)
          offset += openingTag.length

          // Insert the closing tag
          let closingTag = '</span>'
          line = line.substr(0, position.to + offset) + closingTag + line.substr(position.to + offset)
          offset += closingTag.length
        }

        /// Wrap all comments in a span
        /*line = line.replace(/(\/\/(.)*)/g, function (string) {
          console.log(string)
          return '<span style="color: #999999ff">' + string + '</span>'
        })*/

        this.$el.innerHTML += line + '<br />'
      })
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.highlighter {
  width: 100%;
  background: #FFF;
  text-align: left;
  padding: 5px 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  margin: 15px 0px;
  font-family: 'Inconsolata';
  font-weight: 400;
  font-size: 20px;

  padding: 18px 20px;
  border-radius: 6px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);

  >   span {
    color: #FFF;
  }


  .variable {
    color: #0075e4ff;
  }
  .pink {
    color: #ff08fbff;
  }
  
  .orange {
    color: #f56a00ff;
  }   

}

.code span {
    margin: 1px;
    width: calc(100% - 40px);
    font-size: 18px;
  }
</style>
