<template>
  <div class="navbar">
    <div class="flex">
      <div class="start">
        <router-link to="/"><img src="../assets/logo.svg" class="logo" /></router-link>
      </div>
      <div class="end">
        <router-link to="/docs" class="link" :class="{active: currentItem == 'learn'}">
          <span class="lnr lnr-graduation-hat"></span>
          <div class="title">Learn</div>
        </router-link>
        <router-link to="/make" class="link"  :class="{active: currentItem == 'make'}">
          <span class="lnr lnr-code"></span>
          <div class="title">Make</div>
        </router-link>
        <div class="avatar" v-if="isAuthenticated"></div>
        <div class="buttons">
          <div class="button">Login</div>
          <div class="button primary" @click="setCurrentModal('create-account')">Create Account</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Navbar',
  props: {
    msg: String,
    isAuthenticated: false,
  },
  computed: {
    currentItem () {
      return this.$store.getters.getCurrentNavItem
    },
  },
  data: function () {
    return {

    }
  },
  methods: {
    setCurrentModal(modal) {
      this.$store.commit('SET_MODAL_CURRENT', modal)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../assets/scss/mixins.scss";

.navbar {
  position: fixed;
  left: 0px;
  top: 0;
  width: 100vw;
  height: 54px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
  border-bottom: 2px solid #b1cae9;

  .flex {
    @include flex(row, justify-between, center);
    @include container();

    .start, .end {
      margin: 0 20px;
      height: 100%;
      font-size: 18px;
      width: 50%;

      .logo {
        height: 26px;
        //border-radius: 50%;
      }
    }

    .start {
      @include flex(row, flex-start, center);
    }    

    .end {
      @include flex(row, flex-end, center);

      .buttons {
        @include flex(row, flex-end, center);
        margin-left: 30px;

        .button {
          @include flex(row, flex-end, center);
          flex: 0 0 auto;
          height: 34px;
          padding: 0 20px;
          background: #afd2fd;
          color: #011627;
          margin-left: 10px;
          font-size: 15px;
          border-radius: 4px;
          user-select: none;
          cursor: pointer;
          font-weight: 500;

          &.primary {
            background: #009cecff;
            background: #ffc3b5;
            color: #290c00;
          }
        }
      }

      .link {
        @include flex(row, center, center);
        margin: 0 10px;
        font-size: 15px;
        height: 100%;
        padding: 0 20px;
        color: #1d2e40ff;
        transition: background 0.1s linear;

        &.active {
          background: #edf1f9;
        }

        i {
          margin-right: 8px;
          color: #45a4ffff;
        }

        span.lnr {
          font-size: 25px;
          margin-right: 9px;
          color: #6e98c3ff;
        }
      }

      .avatar {
        height: 30px;
        width: 30px;
        min-height: 30px;
        min-width: 30px;
        border-radius: 50%;
        background: #e3ebf5;
        margin-right: 10px;
        margin-left: 20px;
      }
    }
  }
}
</style>
