<template>
  <div class="sidebar">
    <div class="flex">
      <router-link to="/docs" class="option active">
        <i class="icon material-icons">map</i>
        <div class="title">Documentation</div>
      </router-link>
      <div class="option">
        <i class="icon material-icons md-rounded">category</i>
        <div class="title">Playground</div>
      </div>
      <div class="option">
        <div class="new-button">
          <i class="icon material-icons">add</i>
        </div>
      </div>
      <div class="option">
        <i class="icon text">f(x)</i>
        <div class="title">Functions</div>
      </div>
      <div class="option">
        <i class="icon material-icons md-rounded">tune</i>
        <div class="title">Settings</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Sidebar',
  props: {
    msg: String
  },
  data: function () {
    return {

    }
  },
  methods: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../assets/scss/mixins.scss";

@media only screen and (max-width: 830px) {
  .sidebar {
    .flex {
      .option {
        .title {
          display: none;
        }

        i {
          color: #46778A;
          margin-right: 0px;
        }
      }
    }
  }
}

@media only screen and (min-width: 830px) {
.sidebar {
    .flex {
      .option {
        .title {
          display: flex;
        }

        i {
          color: #46778A;
          margin-right: 9px;
        }
      }
    }
  }
}

.sidebar {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 54px;
  bottom: 0px;
  width: 100vw;
  background: #EEE;
  background: linear-gradient(to top right, #ff47f3ff, #ffaf5aff);
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  z-index: 11000;

  .flex {
    @include flex(row, flex-start, center);
    height: 100%;

    .option {
      height: calc(100% - 28px);
      width: 20%;
      @include flex(row, center, center);
      font-size: 15px;
      border-right: 1px solid lighten(#87ABBF, 10%);
      user-select: none;
      cursor: pointer;
      margin: 14px;

      .title {
        color: #192A30;
        color: #122329;
      }

      .icon {
        &.text {
          font-family: 'IBM Plex Mono';
          color: #46778A;
          letter-spacing: -0.16rem;
          font-weight: 700;
        }
      }

      i {
        color: #46778A;
      }

      .new-button {
        @include flex(row, center, center);
        width: 60px;
        height: 34px;
        border-radius: 17px;
        background: #56adffff;
        transition: background 0.1s linear;
        cursor: pointer;

        &:hover {
          background: #458ACC;
        }

        i {
          color: rgba(0, 0, 0, 0.8);
          margin: 0;
          user-select: none;
        }
      }
    }


    /*
    .items {
      @include flex(column, flex-start, flex-start);
      width: calc(100% - 30px);
      margin: 0 20px;

      .item {
        @include flex(row, flex-start, center);
        height: 32px;
        width: 100%;
        //background: #161629;
        //padding-left: 7px;
        font-size: 0.95rem;
        border-radius: 4px;
        user-select: none;
        cursor: pointer;
        margin: 4px 0px;
        color: #555;
        font-weight: 600;

        transition: color 0.1s linear;

        &:hover {
          color: #000;
        }

        &.active {
          color: #000;
        }

        img {
          margin-right: 10px;
          height: 26px;
        }
      }

      .subgroup {
        @include flex(column, flex-start, flex-start);
        width: 100%;
        border-left: 2px solid #353557;

        .item {
          width: calc(100% - 10px);
          margin-left: 10px;

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }*/
  }
}
</style>
