<template>
  <div class="toolbar">
    <div class="left">
      
    </div>
    <div class="right">
      
    </div>
  </div>
</template>

<script>
export default {
  name: 'Toolbar',
  props: {
    title: String
  },
  data: function () {
    return {

    }
  },
  methods: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../assets/scss/mixins.scss";

.toolbar {
  @include flex(row, justify-between, center);
  width: 100vw;
  height: 32px;

  .left {
    @include flex(row, flex-start, center);
  }
  .right {
    @include flex(row, flex-start, center);
  }
}
</style>
