<template>
  <div id="app">
    <Navbar />
    <transition name="fade">
      <CreateAccount v-if="currentModal == 'create-account'" />
    </transition>
    <router-view/>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import Sidebar from '@/components/Sidebar'
import CreateAccount from '@/components/auth/CreateAccount'

export default {
  name: 'Hello',
  components: {
    Navbar,
    Sidebar,
    CreateAccount
  },
  computed: {
    currentModal() {
      return this.$store.state.nav.currentModal
    }
  },
  data: function () {
    return {
    }
  },
  methods: {},
  mounted () {
  }
}
</script>

<style lang="scss">
@import url('https://cdn.linearicons.com/free/1.0.0/icon-font.min.css');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:500,600,700');

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html, body {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

a {
  color: #009d9dff;
  text-decoration: none;
  transition: color 0.1s linear;

  &:hover {
    color: #009d9dff;
  }

  &:active {
    color: #009d9dff;
  }

  &:visited {
    color: #ff189aff;
  }
}

#app {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000;
  background: #deebfeff;
  //background: #daeeeeff;
  width: 100vw;
  height: 100vh;
  font-size: 17px;
}

a {
  text-decoration: none;
}

.highlighter span {
  font-size: 16px;
  font-weight: bold;

}

.variable {
  color: #333;
}

.string {
  color: #009a41;
  font-weight: bold;
}
  
  .orange {
    color: #f56a00ff;
  } 
</style>
