<template>
  <div class="create-account">
  	<div class="flex" @click="disable()">
  		<div class="modal"></div>
  	</div>
  </div>
</template>

<script>
export default {
  name: 'Hello',
  props: {
    msg: String
  },
  data: function () {
    return {

    }
  },
  methods: {
  	disable () {
  		this.$store.commit('SET_MODAL_CURRENT', 'none')
  	}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../assets/scss/mixins.scss";

@media only screen and (max-width: 600px) {
	.create-account {
		.flex {
			.modal {
				width: calc(100vw - 20px);
			}
		}
	}
}

@media only screen and (min-width: 600px) {
	.create-account {
		.flex {
			.modal {
				width: 70vw;
			}
		}
	}
}
@media only screen and (min-width: 1000px) {
	.create-account {
		.flex {
			.modal {
				width: 50vw;
			}
		}
	}
}

.create-account {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
  background: #54a4e899;
  backdrop-filter: blur(5px);

  z-index: 11000;

  .flex {
  	@include flex(row, center, center);
  	@include container();

  	.modal {
  		//width: 40vw;
  		height: 70vh;
  		background: #FFF;
  		border-radius: 16px;
  	}
  }
}
</style>
